<a routerLink="">Angular TypeScript and Data Sructure</a><br><br>

<button routerLink="studentlist">1. Student List</button> 
<button  style="margin-left: 43px;" routerLink="countrylist">11. Country List</button>
<button style="margin-left: 50px;" routerLink="foodmenu">21. Food Menu</button>

<br><br>

<button routerLink="employeelist">2. Employee List</button> 
<button style="margin-left: 30px;" routerLink="sportslist">12. Sports List</button>
<button style="margin-left: 57px;" routerLink="grocerylist">22. Grocery List</button>

<br><br>

<button routerLink="fruitlist">3. Fruit List</button> 
<button style="margin-left: 63px;" routerLink="vegetablelist">13. Vegetable List</button>
<button style="margin-left: 35px;" routerLink="classroomlist">23. Classroom List</button>

<br><br>

<button routerLink="courselist">4. Course List</button> 
<button style="margin-left: 48px;" routerLink="animallist">14. Animal List</button>
<button style="margin-left: 54px;" routerLink="inventorylist">24. Inventory List</button>

<br><br>

<button routerLink="booklist">5. Book List</button> 
<button style="margin-left: 61px;" routerLink="toollist">15. Tool List</button>
<button style="margin-left: 70px;" routerLink="lecturelist">25. Lecture List</button>

<br><br>

<button routerLink="citylist">6. City List</button> 
<button style="margin-left: 70px;" routerLink="languagelist">16. Language List</button>
<button style="margin-left: 33px;" routerLink="stationerylist">26. Stationery List</button>

<br><br>

<button routerLink="movielist">7. Movie List</button> 
<button style="margin-left: 57px;" routerLink="gamelist">17. Game List</button>
<button style="margin-left: 57px;" routerLink="flowerlist">27. Flower List</button>

<br><br>

<button routerLink="carmodellist">8. Car Model List</button> 
<button style="margin-left: 32px;" routerLink="softwarelist">18. Software List</button>
<button style="margin-left: 40px;" routerLink="destinationlist">28. Destination List</button>

<br><br>

<button routerLink="productlist">9. Product List</button> 
<button style="margin-left: 48px;" routerLink="phonecontactlist">19. Phone Contact List</button>
<button style="margin-left: 35px;" routerLink="laptoplist">29. Laptop List</button>

<br><br>

<button routerLink="subjectlist">10. Subject List</button> 
<button style="margin-left: 43px;" routerLink="musicplaylist">20. Music Playlist</button>
<button style="margin-left: 35px;" routerLink="laptopspecificationslist">30. Laptop Specification List</button>

<br><br>

<router-outlet></router-outlet>