a {
    color: black; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 30px;
  }
button {
    background-color: #ff9900; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #ffd000;
  }
  
  a, button {
    margin-bottom: 10px; 
  }
  