<a routerLink="">Angular TypeScript and Data Sructure</a><br><br>

<button routerLink="studentlist">1. Student List</button> <button routerLink="countrylist">11. Country List</button><br><br>
<button routerLink="employeelist">2. Employee List</button> <button routerLink="sportslist">12. Sports List</button><br><br>
<button routerLink="fruitlist">3. Fruit List</button><br><br>
<button routerLink="courselist">4. Course List</button><br><br>
<button routerLink="booklist">5. Book List</button><br><br>
<button routerLink="citylist">6. City List</button><br><br>
<button routerLink="movielist">7. Movie List</button><br><br>
<button routerLink="carmodellist">8. Car Model List</button><br><br>
<button routerLink="productlist">9. Product List</button><br><br>
<button routerLink="subjectlist">10. Subject List</button><br><br>

<router-outlet></router-outlet>